body { 
    background-color: lightgray;
}
  
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left
}
</style>
</head>

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;

<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#drielagenmodel">drielagenmodel</a></li>
  <li><a href="#cpu">cpu</a></li>
</ul>

</body>
</html>