body { 
    background-color: lightgray;
}
  
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
</style>
</head>
<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#drielagenmodel">drielagenmodel</a></li>
  <li><a href="#cpu">cpu</a></li>
</ul>

</body>
</html>